@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
   box-sizing: border-box;
   color: white;
   /*border: dotted 1px black;
   */
}

body {
   background-image: url(assets/do-kyung-soo-empathy.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   height: 100vh;
   font-family: "Poppins", sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin: 0;
   overflow: hidden;
}

.event-title {
   position: relative;
   width: 750px;
   margin: 10px 0 40px;
   border-bottom: solid 4px white;
}

h1 {
   font-weight: normal;
   font-size: 50px;
   color: white;
   font-weight: bolder;
   line-height: 1;
   text-align: left;
}

.countdown {
   position: relative;
   display: flex;
   transform:scale(2); 
   padding: 0px;
   margin: 40px;
}

.time {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 5px 20px 5px 20px;
   color: white;
}

.time h2 {
   color: white;
   font-weight: bold;
   font-size: 36px;
   line-height: 0.5;
   margin: 0 0 20px;
}

.time small {
   color: white;
   text-transform: lowercase;
}

.event-details {
   position: relative;
   padding-top: 80px;
}

footer {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   padding: 5px 10px 3px 10px;
}

footer small, footer small a {
   color: rgba(255, 240, 220, 0.822);
}

footer small#coder {
   float: right;
}

footer small#image-courtesy {
   float: left;
}

@media(max-width: 750px) {

   .event-title {
   width: 95%;
   margin: 50px 0px 40px;
   border-bottom: solid 4px white;
   }

   h1 {
      font-size: 45px;
   }

   h1 small {
       font-size: 25px;
   }

   .countdown {
      margin: 10px;
      margin-top: 20px;
   }

   .time {
      margin: 5px;
   }

   .time h2 {
      font-size: 25px;
   }

   .time small {
      font-size: 10px;
   }

   .event-details {
      padding-top: 160px;
   }

   .event-details small {
      font-size: 12px;
   }

   footer small {
      font-size: 12px;
   }
}
